{% extends 'base.html.twig' %}

{% block title %}INSEA{% endblock %}

{% block body %}

<div class="card rounded border-success m-2 mx-auto" style="max-width: 55rem">
    <h1 class="text-center text-success m-5">{{ title }}</h1>
    {{ form_start(form_enseignant, {'attr': {'class': 'text-success m-5'}}) }}
        <hr class="my-4">
        {{ form_row(form_enseignant.nom, {'attr': {'placeholder': 'Nom du professeur ...', 'autofocus': ''}}) }}    
        {{ form_row(form_enseignant.prenom, {'attr': {'placeholder': 'Prénom du professeur ...'}}) }}    
        {{ form_row(form_enseignant.age, {'attr': {'label': 'Age', 'placeholder': 'Age du professeur ...'}})}}    
        {{ form_row(form_enseignant.email, {'label': 'E-mail', 'attr': {'placeholder': 'Adresse électronique du professeur ...'}}) }}
        {% if pwd == 1 %}
            {{ form_row(form_enseignant.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe ...', 'value': password}}) }}
        {%  else %}
            {% do form_enseignant.password.setRendered() %}
        {% endif %}
        <div class="form-group col text-center">
            <button type="submit" class="btn btn-outline-success rounded">{{ button }}</button>
            <button type="submit" class="btn btn-outline-danger rounded">Annuler</button>
        </div>
    {{ form_end(form_enseignant) }}
</div>
{% endblock %}
