{% extends 'base.html.twig' %}

{% block title %}Responsable{% endblock %}

{% block body %}
    <div class="m-5 d-flex flex-wrap justify-content-center">
        {% if filieres|length != 0 %}
            {% for filiere in filieres %}
            <div class="m-5 card border-success mb-3 rounded" style="max-width: 30rem;">
                <div class="card-header text-white bg-success"></div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text m-4"><span class="text-muted">Nom:</span> {{ filiere.nom }}</p>
                    <p class="card-text m-4"><span class="text-muted">Frais d'inscription:</span> {{ filiere.getFraisInscription }}</p>
                </div>
                <div class="card-footer form-inline my-2 my-lg-0 justify-content-center">
                    <a class="nav-link text-danger my-2 my-sm-0" href="{{ path('responsable_filiere_modules', {'id': filiere.id}) }}">Plus de détail</a>
                </div>
                <div class="card-footer form-inline my-2 my-lg-0 justify-content-center">
                    <a class="nav-link text-success my-2 my-sm-0" href="{{ path('responsable_modification_filiere', {'id': filiere.id}) }}">Modifier</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="jumbotron m-5">
                <h3 class="display-5">Aucun filière n'est ajouté pour le moment.</h3>
                <hr class="my-4">
                <p class="lead text-center">
                    <a class="btn btn-success btn-lg" href="{{ path('responsable_ajout_enseignant') }}" role="button">Ajouter une filière</a>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}