{% extends 'base.html.twig' %}

{% block title %}INSEA{% endblock %}

{% block body %}

<a class="m-3 btn btn-dark" href="{{ path('responsable_accueil') }}">Retour</a>
<div class="card rounded border-success m-2 mx-auto" style="max-width: 55rem">
    <h1 class="text-center text-success m-5">{{ title }}</h1>
    {{ form_start(form_filiere, {'attr': {'class': 'text-success m-5'}}) }}
        <hr class="my-4">
        {{ form_row(form_filiere.nom, {'label': 'Nom de la filière', 'attr': {'placeholder': 'Nom de la filière ...', 'autofocus': ''}}) }}    
        {{ form_row(form_filiere.frais_inscription, {'label': 'Frais d\'inscription', 'attr': {'placeholder': 'Frais d\'inscriptin ...'}}) }}    
        
        <div class="form-group col text-center">
            <button type="submit" class="btn btn-outline-success rounded">{{ button }}</button>
        </div>
    {{ form_end(form_filiere) }}
</div>
{% endblock %}
