{% extends 'base.html.twig' %}

{% block title %}INSEA{% endblock %}

{% block body %}
    
    <a class="m-3 btn btn-primary" href="{{ path('responsable_accueil') }}">Annuler</a>
    <div class="card rounded border-success m-2 mx-auto" style="max-width: 55rem">
        <h1 class="text-center text-success m-5">
            {{ title }}
            {% if nomComplet is defined %} 
                <span class="text-primary"> {{ nomComplet }}</span>
            {% endif %}
        </h1>
        {{ form_start(form_responsable, {'attr': {'class': 'text-success m-5'}}) }}
            <hr class="my-4">
            {{ form_row(form_responsable.nom, {'attr': {'placeholder': 'Nom du responsable ...', 'autofocus': ''}}) }}    
            {{ form_row(form_responsable.prenom, {'attr': {'placeholder': 'Prénom du responsable ...'}}) }}    
            {{ form_row(form_responsable.email, {'label': 'E-mail', 'attr': {'placeholder': 'Adresse électronique du responsable ...'}}) }}
            {% if pwd == 1 %}
                {{ form_row(form_responsable.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe ...', 'value': password}}) }}
            {%  else %}
                {% do form_responsable.password.setRendered() %}
            {% endif %}
            <div class="form-group col text-center">
                <button type="submit" class="btn btn-outline-success rounded">{{ button }}</button>
            </div>
        {{ form_end(form_responsable) }}
    </div>
{% endblock %}
