{% extends 'base.html.twig' %}

{% block title %}INSEA{% endblock %}

{% block body %}

<a class="m-3 btn btn-dark" href="{{ path('responsable_accueil') }}">Retour</a>
{% if app.request.query.get("error") is defined and app.request.query.get("error") == 0 %}
    <div class="alert text-center alert-dismissible alert-danger mx-auto" style="max-width: 55rem">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        La <strong>date</strong> renseignée pour la séance est déjà prise.
    </div>
{% endif %}
<div class="card rounded border-success m-2 mx-auto" style="max-width: 55rem">
    <h1 class="text-center text-success m-5">{{ title }}</h1>
    {{ form_start(form_seance, {'attr': {'class': 'text-success m-5'}}) }}
        <hr class="my-4">
        <div>
        {{ form_row(form_seance.heure_debut, {'type':'number', 'attr': {'min':1, 'max':12, 'autofocus':''} }) }}    
        {{ form_row(form_seance.heure_fin, {'type':'number', 'attr': { 'min':1, 'max':12} }) }}    
        {{ form_row(form_seance.jour) }}
        {{ form_row(form_seance.element) }}
        {{ form_row(form_seance.professeur) }}
        {{ form_row(form_seance.classe) }}
        

        <div class="form-group col text-center">
            <button type="submit" class="btn btn-outline-success rounded">{{ button }}</button>
        </div>
    {{ form_end(form_seance) }}
</div>
{% endblock %}
