{% extends 'base.html.twig' %}

{% block title %}Demande de documents{% endblock %}
{% block body %}

<div class="card rounded border-success m-5 mx-auto" style="max-width: 55rem">
<h1 class="text-center text-success m-5">Nouvelle demande </h1>
{{form_start(formDemande , {'attr': {'class': 'text-success m-4'}})}}

        {{form_row(formDemande.type ,{'attr': {'placeholder' : "Type" }}) }}
        {{form_row(formDemande.motif,{'attr': {'placeholder' : "Motif" }}) }}
        <div class="form-group col text-center">

        <button type="submit" class="btn btn-outline-success rounded">Valider</button>
        <a href="{{ path('etudiant_accueil' ,  { 'id': etudiant.id  }  )}}"  class="btn btn-outline-danger rounded">Annuler</a>
        </div>

       
{{form_end(formDemande)}}
</div>
<a class="text-center" style="display: block;margin-left: auto;
            margin-right: auto;" href="{{ path('etudiant_documents', { 'id': etudiant.id} ) }}">Voir demandes acceptées</a>
            </div>  

{% endblock %}