{% extends 'base.html.twig' %}

{% block title %}Certificat{% endblock %}

{% block body %}

<a class="m-3 btn btn-primary" href="{{ path('etudiant_documents' , { 'id': etudiant.id}) }}">Retour</a>
{% if certificat is null %}
  <div class="alert alert-dismissible alert-warning text-center m-5 mx-auto" style="width: 40rem">
    <h4 class="alert-heading ">Aucune demande envoyée</h4>
  </div>
{% elseif certificat.accepted == 1  %}
  <a class="m-3 btn btn-success" href="{{ path('etudiant_impression', { 'id': etudiant.id, 'type': type} ) }}">Télecharger</a>  

  <img style="height:110px; width:110px;  display: block;margin-left: auto;
            margin-right: auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/INSEA_logo.png/552px-INSEA_logo.png">

  <p class="m-3 text-center">
    INSTITUT NATIONAL DE STATISTIQUE ET D'ÉCONOMIE APPLIQUÉE
  </p>
  <h5 class="mr-5" style="float:right">Le {{ certificat.issuedAt| date('d/m/Y')}}</h5><br>
  <hr class="m-7">
  <h3 class="text-center">Certificat de scolarité</h3>
  <div class="m-5">
      <p class="text-center">Nom : {{ etudiant.nom  }}</p>
      <p class="text-center">Prénom : {{ etudiant.prenom  }}</p>
      <p class="text-center">Cycle : {{ etudiant.cycle.nom}}</p>
      <p class="text-center">Filiere : {{ etudiant.filiere.nom}}</p>
      <p class="text-center">Niveau : {{ etudiant.niveau.nom}}</p>
      <p class="text-center">Année scolaire : 2019/2020</p>
  </div>
  <div> 
    <p>
      <img style="height:140px; width:140px;  display: block, float:left ; margin: 0px 1000px" src="https://i.imgur.com/wZS4Cfq.png">
    </p>
    <div class="text-center">
      <a class="m-3 btn btn-success" href="{{ path('etudiant_impression', { 'id': etudiant.id, 'type': type} ) }}">Télecharger</a>  
    </div>
{% else %}

  <a class="m-3 btn btn-primary" href="{{ path('etudiant_accueil' , { 'id': etudiant.id}) }}}">Retour</a>
  <div class="alert alert-dismissible alert-warning text-center m-5 mx-auto" style="width: 40rem">
    <h4 class="alert-heading">Demande en cours de traitement</h4>
    <p class="mb-0">votre demande est en cours de traitement. Veuillez revenir plus tard </p>
  </div>

{% endif %}

{% endblock %}
