<html>

   <head>
      <title>Certificat</title>
   </head>
   <style>
      .insea{
         margin-left:45%;
         display: inline;
      }
      body{
         padding-top: 15%;
      }

   </style>
   <body>
      <div class="insea">
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/INSEA_logo.png/552px-INSEA_logo.png" height="80em" width="80em" alt ="insea" >
      </div>
      <div style="text-align:center ; font-family:Helvetica">
         <p >INSTITUT NATIONAL DE STATISTIQUE ET D'ÉCONOMIE APPLIQUÉE</p>
         <hr>

         <br><br>
         <h2>Certificat de scolarité</h2>
         <div >
            <p><strong>Nom</strong> : {{ etudiant.nom  }} </p>
            <p><strong>Prénom </strong>: {{ etudiant.prenom  }} </p>
            <p><strong>Cycle</strong> : {{ etudiant.cycle.nom}} </p>
            <p><strong>Filiere</strong> : {{ etudiant.filiere.nom}} </p>
            <p><strong>Niveau</strong> : {{ etudiant.niveau.nom}} </p>
            <p><strong>Année scolaire </strong>: 2019/2020</p>
         </div>
      </div>
      <div>
      <p>
      <img style="height:140px; width:140px;  display: block, float:center; margin: 0px 600px" src="https://i.imgur.com/wZS4Cfq.png" alt ="cachet"><br>
      <span style="float:right">Le {{ issuedAt| date('d/m/Y')}}</span>
      <p>
   </body>
</html>