{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}

    <div class="card rounded border-success m-2 mx-auto" style="max-width: 55rem">
       
        {{ form_start(form_authentication, {'attr': {'class': 'text-success m-4 rounded'}}) }}
            <p class="lead text-dark">Changer mot de passe</p>
            <hr class="my-4">
            <div style="display:none;">
             {{ form_row(form_authentication.email) }}
             </div>
            {{ form_row(form_authentication.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Entrer votre mot de passe', 'class': 'rounded'}}) }}
            {{ form_row(form_authentication.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Entrer la confirmation du mot de passe', 'class': 'rounded'}}) }}
            <div class="form-group col text-center">
                <button type="submit" class="btn btn-outline-success rounded">Enregistrer</button>
            </div>
        {{ form_end(form_authentication) }}
{% endblock %}
